  <div class="chat-container">
    <header class="chat-header">
      <h1>Centro de Mensajes</h1>
    </header>
    <main class="join-main">
				<form id="formAuthor" action="">
					{{!-- <div class="form-group">
						<label for="username"></label>
						<input class="form-control" type="text" name="username" id="username" placeholder="Enter username..." required/>
					</div> --}}
          <div class="form-group">
						<label for="email"></label>
						<input class="form-control" type="text" name="email" id="email" placeholder="Enter email..." required/>
					</div>
          <div class="form-group">
                <label for='nombre'></label>
                <input class="form-control" type='text' name='nombre' id='nombre' placeholder="Enter nombre..." required>
            </div>
            <div class="form-group">
                <label for='apellido'></label>
                <input class='form-control' type='text' name='apellido' id='apellido'  placeholder="Enter apellido..." required>
            </div>
            <div class="form-group">
                <label for='alias'></label>
                <input class='form-control' type='text' name='alias' id='alias'  placeholder="Enter alias..." required>
            </div>
            <div class="form-group">
                <label for='edad'></label>
                <input class='form-control' type='number' name='edad' id='edad'  placeholder="Enter edad..." required>
            </div>
            <div class='form-group'>
                <label for='avatar'></label>
                <input class='form-control' type='text' name='avatar' id='avatar'  placeholder="Enter avatar..." required>
            </div>
					{{!-- <form id="chat-form"> --}}
            <input id="mensaje" type="text" placeholder="Ingresa un mensaje" required autocomplete="off" />
            {{!-- <button class="btn"> Enviar!</button> --}}
          {{!-- </form> --}}
					<button type="submit" class="btn">Join Chat</button>
				</form>
			</main>
    <main class="chat-main">
      <div class="chat-messages">
       <div class="message">
          
        </div>        
      </div>
    </main>
    
  </div>